body {
  background-color: rgb(238,154,0);
}

h1 {
  text-align: center;
}

#title-bar {
  height: 3.5rem;
  width: 100%;
  background-color: orange;
}

#searchable {
  height: 8rem;
  width: 100%;
  background-color: rgb(0,75,255);
  margin: .25rem 0;
  padding-top: 0.1rem;

}

#location {
  height: 2rem;
  width: 95%;
  background-color: rgb(0,238,238);
  margin-left: 0.1rem;
}

#transit-options {
  height: 3rem;
  width: 95%;
  background-color: rgb(0,238,238);
  margin: 0.1rem;
}

#results {
  height: 22rem;
  width: 100%;
  background-color: rgb(0,75,255);
  margin: .25rem 0;
  padding-top: .1rem;
}

#wait-time {
  height: 3rem;
  width: 95%;
  background-color: rgb(0,238,238);
  margin: 0.1rem;
}

#eta-visualization {
  height: 15rem;
  width: 95%;
  background-color: rgb(0,238,238);
  margin: 0.1rem;
}

/*try to center using margin: 0 auto*/
/*probs: check that containers have a width*/

/*basic button styling*/
.button {
  padding: 0.25rem 0.75rem;
  background-color: rgb(255,246,143);
  /*transparent border*/
  border: 1px solid rgba(0,0,0,0);

  /*curved corners*/
  border-radius: 0.4rem;

  /*drop shadow*/
  box-shadow: 0 0 0.75rem rgba(0,0,0,0.75);

  /*text style*/
  color: blue;
  font-size: 1.2rem;

  /*positioning*/
  margin: 0.5rem 2.45rem 0 0;
  float: right;
}

/*basic button hover & focus*/
input#submit:hover, input#update:hover, input#submit:focus, input#update:focus {
  background-color: rgb(255,215,0);
  box-shadow: 0 0 .25rem rgba(0,0,0,0.75);
}


/*popup visualizations*/
#bike-map {

}

#uber-pop {

}

#lyft-pop {

}
