.pop-up {
  display: none;
}

/*custom checkboxes and radio buttons*/

/*hiding checkboxes & radio buttons*/
input[type=checkbox]:not(old),
input[type=radio   ]:not(old) {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

/*position the label*/
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

/* creating the unchecked graphic*/
input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

/*background gradient reversed on selected checkboxes & radio buttons*/
input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

/*display tick in clicked checkboxes*/
input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

/*display curved box in selected radio buttons*/
input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.lyft-pop, .uber-pop, .biketown-map {
  width: 800px;
  min-height: 600px;
  outline: 1px solid black;
  display: none;
}

.site-header {
  background: #FFEAAA;
}

.icon-menu {
  font-size: 3em;
  float: right;
}

#h1-text {
  position: relative;
  left: 20%;
  bottom: 1rem;
}

/*nav bar styling*/
.main-nav {
  padding: 0.1em;
  z-index: 56;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
  z-index: 56;
}

.main-nav:hover ul {
  display: block;
  z-index: 56;
}

.main-nav li {
  display: inline;
  float: right;
  background-color: rgba(255,165,0,0.75);
  margin-top: 1.1em;
  font-size: 1.2em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
  z-index: 56;
}

#header-logo {
  height: 3.75rem;
  width: 3.75rem;
  padding-top: 0.5rem;
  display: inline-block;
}

.results-logo {
  height: 30%;
  width: auto;
  margin: 0;
  padding: 0;
}

#about {
  width: 95%;
  background-color: rgb(0,238,238);
  margin-left: 0.1rem;
  text-align: center;
}

#about p {
  display: block;
  padding-left: 4%;
  padding-right: 4%;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}
#about h1 {
  margin: 0 auto;
  float: none;
}

#about img {
  width: 100%;
  height: 40%;
}

#location {
  height: 2rem;
  width: 95%;
  background-color: rgb(0,238,238);
  margin-left: 0.1rem;
}

#transit-options {
  height: 3rem;
  width: 95%;
  background-color: rgb(0,238,238);
  margin: 0.1rem;
}

#wait-time {
  height: 3rem;
  width: 95%;
  background-color: rgb(0,238,238);
  margin: 0.1rem;
}

#result-clickables {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#result-clickables li {
  height: 100%;
  display: inline;
}

#eta-visualization {
  height: 75%;
  width: 100%;
  display: inline;
}

#eta-canvas {
  border: 1px solid black;
  height: 75%;
  width: 100%;
}

/*popup visualizations*/

#uber-pop {

}

#lyft-pop {

}
