.bike-map {
  width: 800px;
  min-height: 600px;
  outline: 1px solid black;
}

.site-header {
  background: #FFEAAA;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  font-size: 3em;
  float: right;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}
